# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and ecosystems are summarized.

**Objectives:**
- List Popular tools in Data Science
- The most common Programming lenguages in Data Science
- Math operations with Pyhton Code

**Some of the popular lenguages are:**

1. Pyhton
2. R
3. SQL

**Some of the commonly used libraries used by Data Scientists include**

1. Pandas 
2. Numpy 
3. Scikit-learn

|Data Science Tools|
|------------------|
| Jupyter Notebooks
| RStudio|
|Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [56]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [60]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author ## 
Jose Cisneros